*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body *{
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 2;
    font-weight: normal;
}
main h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}
main h2{
    font-weight: 500;
    font-size: xx-large;
    line-height: 36px;
}
main h3{
    font-weight:500;
}

body ul{
    list-style:none;
} 

.hero-section, .t-section, .c-section{
    padding: 60px 0 60px 0;
}
   
.container{
    width: 1100px;
    margin: auto;
    padding: 0 60px;      
}
/* NAV SECTION */

.nav-section-1{
    color: #33475b;
    padding: 15px 0 15px;
}
.nav-section-2{
    background-color: #f4f9fd;
    border-bottom: 3px solid #33475b;
    padding: 15px 0 15px;
}
.nav-container,
.footer-container{
    content: "";
    display: table;
    clear: both;
}
.l-nav{
    float:left;
}
.r-nav{
    float:right;
}


nav ul li, .footer-1 ul.language li, .footer-2 ul li{
    display:inline-block;
    text-decoration: none;
    margin-right: 20px; 
    line-height: 60px;   
}

nav a,
footer a{
    text-decoration: none;
    display: inline-block;
}
nav a{
    margin-left: 20px;
}

nav .nav-emoji{
    color: grey;
    filter: grayscale(100%);
}

nav .wrap-logo-nav,
footer .wrap-logo-footer{
    height:60px;
    display: inline-block;
    vertical-align: middle;
}
.img-logo{
    width:100%;
    height:100%;
}
span.select-list{
    font-size: 12px;
    margin-left: 10px;
    font-weight: bold;
    font-stretch: extra-expanded;
}
button{
    border-radius: 5px;
    text-decoration: none;
    border: none;
}
button.btn-login{
    color:#fe775a;
}
button.btn-ordinary{
    background-color: #fe775a;
    color:white;
}
nav ul li button{
    padding: 10px 15px;
}
main button.btn-ordinary{
    padding: 15px 25px;
    margin: 6px 0 6px;
}

/* JUMBOTRON SECTION */
main .jumbotron{
    width:55%;
    padding-top: 40px;
    padding-bottom: 200px;
}
main .jumbotron>p{
    margin-top: 25px;
    margin-bottom: 20px;
}

main .jumbotron-section{
     background-image: url(img/jumbotron.png);
     background-position: bottom;
     background-repeat: no-repeat;
     background-size: contain;
     background-color:#FFF4EF;   
}
main .jumbotron-section .green-block{
    height: 85px;
    width: 100%;
    background-color: #afebe4;
    border-top: 3px solid #33475b;
    border-bottom: 3px solid #33475b;
    position: relative;
    bottom: 0;
    margin-bottom:-60px;
}
main p.smallest-text{
    font-size: small;
}
/* HERO-SECTION */
.hero-section{
    background-color:  #f4f9fd;
}
main .hero-t-content{
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 60px;
}
main .hero-t-content h2{
    font-size: 35px;
    margin-bottom: 25px;
}
main .hero-t-content .img-hero-t-content{
    width: 240px;
    height: 180px;
    margin: auto;
}
.img-hero-t-content>img{
    width: 100%;
}
.row.card-wrap{
    background-color: white;
    padding: 40px;
    margin-bottom: 60px;
}
main .hero-section .row.card-wrap .hero-c-content-left, .row.card-wrap .hero-c-content-right{
    margin:auto;
    padding: 0px 40px;
}
.row.card-wrap .hero-c-content-left .img-hero-l-col{
    width: 180px;
    height: 120px;
    margin: auto;
}
.img-hero-l-col>img{
    width:100%;
    height: 100%;
}
.row.card-wrap .hero-c-content-left .btn-hero-c-content{
    margin:auto;
    padding: 10px 20px;
    width: 100%;
    display: inline-block;
    text-align: center;
}
.row.card-wrap .hero-c-content-right>p{
    margin-top: 20px;
    margin-bottom: 20px;    
}
.hero-c-content-right h3,
.hero-b-content h3{
    text-transform: uppercase;
}
.hero-c-content-right ul{
    display: inline-block;
    margin-top: 20px;
}
.hero-c-content-right ul li{
    display:inline-block;
    margin-right: 20px;
}
.hero-c-content-right .content-line{
    margin-right:auto;
    width: 85%;
    display: inline-block;
    content: "";
    background-color:#33475b;
    border-top: 0.5px solid #33475b;
    border-bottom: 0.5px solid #33475b;
    margin-left: 10px;
}
.hero-section ul li::before {
    content: "\2713";
    color: white;
    background-color:#fe775a;
    width: 6px;
    height: 6px;
    line-height: 6px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding: 3px 6px 6px 3px;
    vertical-align: middle;
    margin-right: 10px;
}
.hero-b-content ul li{
    line-height: normal;
}
.hero-b-content .fix-wrap:first-child{
    height: 40%;
    width: 100%;
}
.hero-b-content .fix-wrap:nth-child(2){
    height: 60%;
    width: 100%;
}
.hero-b-content h2{
    margin-top: 30px;
    margin-bottom: 30px;
}
.hero-b-content .btn-hero-b-content{
    text-align: center;
    width: 100%;
    margin-top:30px;
}
.hero-b-content h3{
    margin-top: 30px;
    margin-bottom: 30px;
}
/* FLOAT INTERNO HERO C-cention */
main .sub-row::after{
    content: "";
    display: table;
    clear: both;
}
.sub-row>.sub-l-col{
    float:left;
    width:40%;
}
.sub-row>.sub-r-col{
    float:left;
    width:60%;
}
/* 3 COLONNE */
div.img-col-3{
    width: 180px;
    height: 120px;
    margin: auto;
}
div.img-col-3>img{
    width: 100%;
    height: 100%;
}
.hero-b-content h2,.hero-b-content p,.hero-b-content h3{
    text-align: center;
}
.hero-b-content{
    padding: 20px 20px;
    background-color: white;
}
.hero-section .col-3 .hr{
    content: "";
    background-color:#33475b;
    border-top: 0.5px solid #33475b;
    border-bottom: 0.5px solid #33475b;
    margin-top:40px;
}
/* T-SECTION */
main .t-section{
    background-color: #00abb6;
}
.t-section .t-section-banner{
    text-align: center;
    padding-bottom: 30px;
}
.t-section .t-section-banner h2{
    padding-right: 5%;
    padding-left:5%;
}
.t-section .t-section-banner p{
    margin-top: 20px;
    margin-bottom: 20px;
}
.t-container *{
    color: white;
}
.t-section .table-wrap {
    margin-top: 20px;
}
.t-section .table-wrap::after{
    content: "";
    clear: both;
    display: table;
}
.t-section .table-wrap>*{
   float:left;
}
.t-section .table-wrap .table-cell{
  width: 25%;
  margin: auto;
  text-align: center;
  padding: 15px 25px;
}
.t-section .table-wrap .table-cell .table-img{
  width:100%;
}
.table-img>img{
  width: 120px;
  height: 30px;
}
.table-cell h1::after{
  content: ' \002B';
  font-size: small;
  vertical-align: middle;
}
.table-cell p{
  font-size: small;
}
.table-wrap .table-cell:nth-child(-n+4){
  border-bottom: 1px solid white;
}
.table-cell:nth-child(-n+3){
  border-right: 1px solid white;
}
.table-cell:nth-child(n+5):nth-child(-n+7){
  border-right: 1px solid white;
}

/* C-SECTION */
.c-section .c-container .l-col-2 .wrap-l-col-2{
    width: 80%;
    padding-bottom: 30px;
    padding-left: 60px;
}
.c-section .c-container .col-2 .wrap-col-2{
    padding-top: 30px;
}
.c-section .c-container .col-2 .wrap-col-2 p{
    margin-top:20px;
    margin-bottom: 20px;;
}
.c-section .c-container .l-col-2 h1{
    margin-bottom: 30px;  
}
.c-section .r-col-2 .partner-list{
    width: 100%;
    padding: 30px;
}
  .partner-list .partner-logo{
    width: 20%;
    display: inline-block;
 }
  .c-section .partner-logo>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    vertical-align: middle;
    padding: 5px 10px;
 }
.img-woman{
    width: 60%;
    height: 60%;
    display: inline-block;
    float: right;
}
/* B-SECTION */  /* FOOTER */

footer a {
    color: #b9c5d1;
}
.footer-1 .translated-language{
    border-bottom: 3px solid white;
    text-align: center;
}
footer h4{
    line-height: 4;
}
.footer-1>div{
    margin-bottom: 40px;
}
.btn-support{
padding: 10px 15px;
background-color: #dadee0;
color: #32495b;
margin: 6px 0 6px;
}
footer .img-social{
    height: 50px;
    object-fit: contain;
    vertical-align: middle;
}
footer{
    background-color: #32495b;
    color: white;
}

.l-footer{
    float:left;
}
.r-footer{
    float:right;
}
footer .footer-2::after{
        content: "";
        display: table;
        clear: both;   
}













/* LAYOUT GENERICO COLONNE  */
.row::after{
    content: "";
    display: table;
    clear: both;
}
.col{
    float: left;
}
main .hero-section .col.l-col-2, 
main .c-section .col.l-col-2{
    width:30%;
}
main .hero-section .col.r-col-2,
main .c-section .col.r-col-2{
    width: 70%;
}
main .col.col-3{
    width:33.3%; 
    padding-left:30px;
    padding-right:30px;
}
main .row.row-3-col{
    margin-left: -30px;
    margin-right: -30px; 
}
main .c-section .col-2{
    width: 50%;
}
.col.col-4{
    width: 25%;
}

/* FINE LAYOUT COLONNE */






