*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* PROPRIETA' PER STRUTTURARE LAYOUT PAGINA */
.container{
    /* height: 300px; */
    border: 1px solid black;
    background-color: aqua;
}

.container{
    width: 1024px;
    margin: auto;
    padding: 15px 50px;
}
.top-nav{
    background-color: #f4f9fd;
    border-bottom: 1px solid black;;
}
nav::after{
    content: "";
    display: table;
    clear: both;
}
.l-nav{
    float:left;
}
.r-nav{
    float:right;
}
nav ul li{
    display:inline-block;
    list-style: none;
}
