*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body *{
    font-family: 'Noto Sans SC', sans-serif;
}
    
       
.container{
    width: 1024px;
    margin: auto;
    padding: 10px 120px;
}

/* NAV SECTION */

nav *{
    color: #33475b;
}
.top-nav{
    background-color: #f4f9fd;
    border-bottom: 2px solid black;
}
nav::after,
footer .footer-container{
    content: "";
    display: table;
    clear: both;
}
.l-nav{
    float:left;
}
.r-nav{
    float:right;
}

nav ul, main ul{
    list-style:none;
}
nav ul li{
    display:inline-block;
    text-decoration: none;
    line-height: 40px;
    margin-right: 15px;    
}
nav a{
    text-decoration: none;
    display: inline-block;
    /* margin-left: 10px; */
}

nav .nav-emoji{
    color: grey;
    filter: grayscale(100%);
}

nav .wrap-logo-nav{
    height:40px;
    display: inline-block;
    vertical-align: middle;
}
img.logo-img-nav{
    width:100%;
    height:100%;
}
span.select-list{
    font-size: 0.7em;
    margin-left: 10px;
    font-weight: bold;
    /* font-stretch: extra-expanded; */
}
button{
    border-radius: 5px;
    text-decoration: none;
    border: none;
}
button.btn-login{
    color:#fe775a;
}
button.btn-ordinary{
    background-color: #fe775a;
    color:white;
}
nav ul li button{
    padding: 10px 15px;
}
main button.btn-ordinary{
    padding: 15px 25px;
}

/* JUMBOTRON SECTION */
main .jumbotron{
    width:50%;
    height: 100%;
    padding-top: 10%;
    padding-bottom: 30%;
}

main .jumbotron-container{
     background-image: url(img/jumbotron.png);
     background-position: bottom;
     background-repeat: no-repeat;
     background-size: cover;
}
main .jumbotron-section .hr-block{
    height: 60px;
    width: 1024px;
    margin: -10px -120px;
    background-color: #afebe4;
    border-top: 2px solid #33475b;
    border-bottom: 2px solid #33475b;
}

/* HERO-SECTION */
.hero-container{
    background-color:  #f4f9fd;
}
main .hero-t-content{
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 15px 50px;
}
main .hero-t-content .img-hero-t-content{
    width: 240px;
    height: 180px;
    margin: auto;
}
.img-hero-t-content>img{
    width: 100%;
}
.row.card-wrap{
    background-color: white;
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
}
main .hero-section .row .l-col-2 .hero-c-content{
    margin:auto;
    padding: 5% 10%;
}
.row.card-wrap .hero-c-content .img-hero-l-col{
    width: 180px;
    height: 120px;
    margin: auto;
    padding: 10px 20px;
}
.img-hero-l-col>img{
    width:100%;
    height: 100%;
}
.row.card-wrap .hero-c-content .btn-hero-c-content{
    margin:auto;
    padding: 10px 20px;
    width: 100%;
    display: inline-block;
    text-align: center;
}
/* CHIEDO BT-CONTENT SIZE DA INSPECTOR
.btn-hero-c-content>.btn-ordinary{
    
} */

.row.card-wrap .hero-c-content-right{
    padding: 10px 20px;
    margin: auto;
}
.hero-c-content-right h3,
.hero-b-content h3{
    text-transform: uppercase;
}
.hero-c-content-right ul{
    display: inline-block;
}
.hero-c-content-right ul li{
    display:inline-block;
    text-decoration: none;
    margin-right: 15px; 
}
.hero-c-content-right .content-line{
    border-bottom: 2px solid  #899397;
    margin-left: 10px;
    margin-right:auto;
    height: 15px;
    width: 85%;
    padding-top: 5px;
    display: inline-block;
}

span.circle-check{
    background-color:#fe775a;
    border-radius: 50%;
    color: white;
}
/* FLOAT INTERNO HERO c-cention */
main .sub-row::after{
    content: "";
    display: table;
    clear: both;
}
.sub-row>.sub-l-col{
    float:left;
    width:40%;
}
.sub-row>.sub-r-col{
    float:left;
    width:60%;
}
/* 3 COLONNE */
div.img-col-3{
    width: 180px;
    height: 120px;
    margin: auto;
}
div.img-col-3>img{
    width: 100%;
    height: 100%;
}
.hero-b-content>h2,.hero-b-content>p,.hero-b-content>h3{
    text-align: center;
}
.hero-b-content{
    padding: 15px 15px;
    background-color: white;
}
.hero-b-content ul {
    list-style:none; 
}
.hero-b-content ul li{
    text-decoration: none;
}
.hero-section .col-3 .hr{
    content: "";
    background-color:#33475b;
    border-top: 0.5px solid #33475b;
    border-bottom: 0.5px solid #33475b;
}
/* T-SECTION */
main .t-container{
    background-color: #00abb6;
}
.t-section .t-section-banner{
    text-align: center;
}
.t-section .table-wrap::after{
    content: "";
    clear: both;
    display: table;
}
.t-section .table-wrap>*{
   float:left;
}
.t-section .table-wrap .table-cell{
  width: 25%;
  color: white;
  margin: auto;
  text-align: center;
  padding: 10px 20px;
}
.t-section .table-wrap .table-cell .table-img{
  width:100%;
  /* padding: 5px 10px; */
}
.table-img>img{
  max-width: 120px;
  max-height: 30px;
}
.table-cell h1::after{
  content: ' \002B';
  font-size: small;
  vertical-align: middle;
}
.table-cell p{
  font-size: small;
}
.table-wrap .table-cell:nth-child(-n+4){
  border-bottom: 1px solid white;
}
.table-cell:nth-child(-n+3){
  border-right: 1px solid white;
}
.table-cell:nth-child(n+5):nth-child(-n+7){
  border-right: 1px solid white;
}

/* C-SECTION */
.c-container .row .l-col-2>*{
    text-align: center;
}

.c-section .partner-logo{
    width: 90px;
    height:30px;
}
.c-section .partner-logo>img{
    width: 100%;
    height:100%;
    object-fit: contain;
}
.c-container .row.logo-row{
    padding: 0 10% 5% 10%;
}
.img-woman{
    width: 50%;
    height: 50%;
    display: inline-block;
    float: right;
}
/* B-SECTION */
.b-container{
    background-color: #32495b;
    color: white;
}
.b-section ul li a {
    text-decoration: none;
    color: white;
}
.b-section .translated-language{
    border-bottom: 2px solid white;
    text-align: center;
}
.b-section ul.language li {
    display: inline-block;

}
.btn-support{
padding: 10px 15px;
background-color: #dadee0;
color: #32495b;
}
.img-social{
    height: 3em;
    object-fit: contain;
}

/* LAYOUT GENERICO COLONNE  */
main .row::after{
    content: "";
    display: table;
    clear: both;
}
main .col{
    float: left;
}
main .hero-section .col.l-col-2, 
main .c-section .col.l-col-2{
    width:30%;
}
main .hero-section .col.r-col-2,
main .c-section .col.r-col-2{
    width: 70%;
}
main .col.col-3{
    width:33.3%;
    
    padding-left:10px;
    padding-right:10px;
}
main .row.row-3-col{
    margin-left: -10px;
    margin-right: -10px; 
}
main .c-section .col-2{
    width: 50%;
}
main .col.col-4{
    width: 25%;
}

/* FINE LAYOUT COLONNE */






.l-footer{
    float:left;
    background-color: black;
    height: 50px;
    width: 50px;
}
.r-footer{
    float:right;
    background-color: black;
    height: 50px;
    width: 50px;
}
